
dctImage/.idea/
dctImage/images/
dctImage/dataset/
dctImage/output_images/
parts_inspect/parts_inspect/assets/
parts_inspect/parts_inspect/assets_2/
parts_inspect/parts_inspect/workspace/
parts_inspect/parts_inspect/bin/
parts_inspect/parts_inspect/obj/
dctImage/assets/
parts_inspect/parts_inspect/*.zip
dctImage/assets_2/
dctImage/assets_3/
dctImage/test/
parts_inspect/parts_inspect/test/
parts_inspect/MLModel1_ConsoleApp1/bin/
parts_inspect/MLModel1_ConsoleApp1/obj
dctImage/test2/
dctImage/build/
MainMenuWindow/bin/
MainMenuWindow/obj/
ProcessedImages/combined/*.bmp
ProcessedImages/sliced/*.bmp
ProcessedImages/enhanced/*.jpg

